.footerBody{
    align-items: flex-end;
    background-color: #1A1F36;
}
.inp:focus{
    border-color: #a3b493;
    outline: none;
    box-shadow: 0 0 5px rgba(39, 254, 1, 0.5);
}

.f-links{
    color:#22C55E ;
}

.btnn{
    background-color: #219a14;
    color: white;
}
.cont{
    height: 2.7rem;
    width: 2.7rem;
    margin-right: 1rem;
    border-radius: 50%;
}
.icon{
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 6px;
}
.footer-links p {
  cursor: pointer;
}

.footer-links  p:hover{
     text-decoration: underline;
  color: #03AFAF;
}
