.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .nav-link.dropdown-toggle::after {
    pointer-events: none;
  }
  .h-icon{
    color: #0072CE !important;
  }

@media (max-width: 768px) {
  .navbar-brand img {
    height: 2.5rem;
  }
}