.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);   /* background color */
    border-radius: 50%;        /* makes it circular */
    z-index: 5;
  }
.slick-prev{
    left:10px;
}
.slick-next{
    right:10px;
}
  
.slick-prev::before, .slick-next::before {
    font-size: 20px;
    color: rgb(0, 0, 0);              /* arrow color */
}

.product:hover{
  transform: scale(1.1);
}

.product{
  height: 47%;
  width: 47%;
}

.c-text > div > p{
  color: #0072CE;
}

.g-cont{
  max-width: 32%;
}

@media (max-width: 576px) {
  .product{
    height: 40%;
    width: 40%;
  }
  .p-text{
    font-size: 0.6rem;
  }
  .g-cont{
    max-width: 100%;
  }
}